.colorbody {
    background-color: #282A35;
    margin: 0;
    padding: 0;
}

.h2class{
    color: white;

}

header {
    border: none;
    height: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
h1 {
    position: relative;
    top: -100px;
    left: 140px;
    font-size: 50px;
    color: white;
}
.logo {
    position: relative; 
    top: 15px ;
    left: 250px ;
    width: 90px ;
    height: 90px;
}
.button_position {
    position: relative;
    top: -105px;
    left: 340px;
    width: 145px;
    margin-right: 10px;
    height: 25px;
    border-radius: 40px;
}

a {
 text-decoration: none;
 color: black; 
}

.izq {
     text-align: left;
    width: 100%;
    float: left
}

