/*
Comentarios en CSS
*/
*    {
    margin: 0;
    padding: 0;
}
.ClaseCentrada  {
    text-align: center;
}
/*
    Header
*/

header  {
    background-color: #020202;
    color: aliceblue;
}

/*
    Main
*/

main    {
    background-color: #282A35;
    color: aliceblue;
}

/*
    Footer
*/

footer  {
    background-color: #020202;
    color: aliceblue;
}


/*line de header fixed, table, th, td, textTabla echa por giovanni */
.HeaderFixed{
    position: fixed;
    height: 200%;
    width: 100%;
}

table, th, td {
    border:3px solid rgb(72, 65, 163);
  }

  .TextoTabla{
    color: rgb(10, 16, 19);
}

